In [40]:
import numpy as np
'''
Reference: 
    - https://docs.scipy.org/doc/numpy/reference/generated/numpy.interp.html
    - http://stackoverflow.com/questions/6518811/interpolate-nan-values-in-a-numpy-array/6519053
'''

'\nReference: \n    - https://docs.scipy.org/doc/numpy/reference/generated/numpy.interp.html\n    - http://stackoverflow.com/questions/6518811/interpolate-nan-values-in-a-numpy-array/6519053\n'

In [37]:
A = np.array([1, np.nan, np.nan, 2, 2, np.nan, 0])
ok = ~np.isnan(A)
xp = ok.ravel().nonzero()[0]
fp = A[ok]
x  = np.isnan(A).ravel().nonzero()[0]

A[np.isnan(A)] = np.interp(x, xp, fp)
'''
DeprecationWarning: numpy boolean negative, the `-` operator, is deprecated, 
use the `~` operator or the logical_not function instead.
'''

'\nDeprecationWarning: numpy boolean negative, the `-` operator, is deprecated, \nuse the `~` operator or the logical_not function instead.\n'

In [38]:
ok

array([False,  True,  True, False, False,  True, False], dtype=bool)

In [39]:
~ok

array([ True, False, False,  True,  True, False,  True], dtype=bool)

In [28]:
xp

array([0, 3, 4, 6])

In [29]:
fp

array([ 1.,  2.,  2.,  0.])

In [30]:
x

array([1, 2, 5])

In [31]:
A

array([ 1.        ,  1.33333333,  1.66666667,  2.        ,  2.        ,
        1.        ,  0.        ])

In [24]:
from pandas import *
from numpy import nan
a=np.array([19,nan,nan,21,22,nan,nan,26,nan,20])
Series(a).interpolate()

0    19.000000
1    19.666667
2    20.333333
3    21.000000
4    22.000000
5    23.333333
6    24.666667
7    26.000000
8    23.000000
9    20.000000
dtype: float64